.main{
  display: flex;
  align-items:center;
}
.frm {
  border: 2px solid #44c8f5;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  background-color: #1e1e2f;
  color: white;
  width: 300px;
}

.display {
  font-size: 48px;
  color: #121111;
  transition: color 0.3s ease;
  background-color: #44c8f5;
  border: 2px solid #44c8f5;
  border-radius: 5px;
}

.red {
  color: red;
}

.frm-buttons{
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #44c8f5;
  display: flex;
  justify-content: space-around;
}

.buttons {
  margin: 5px;
  padding: 0 10px;
  border: 1px solid #44c8f5;
  border-radius: 5px;
  background-color: #44c8f5;
  font-size: 20px;

}
